.animations {
  .calltoaction {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: #ffc300;
    border-radius: 5px;
    color: #003566;
    box-shadow: 0px 0px 4px 0px rgba(#003566, 0.25);
    animation-name: changeBox-shadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  .loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffbe0b;
    border-radius: 50px;
    color: #fff;
    animation-name: changeBackground;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
}

@keyframes changeBackground {
  0% {
    background: #ffbe0b;
  }

  25% {
    background: #ff006e;
  }

  50% {
    background: #8338ec;
  }

  75% {
    background: #ffbe0b;
  }
}

@keyframes changeBox-shadow {
  0% {
    box-shadow: 0px 0px 4px 0px rgba(#003566, 0.25);
  }

  50% {
    box-shadow: 0px 0px 10px 0px rgba(#003566, 0.55);
  }

  100% {
    box-shadow: 0px 0px 4px 0px rgba(#003566, 0.25);
  }
}
